<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Photo Gallery</title>
  <link rel="stylesheet" href="/assets/css/gallery.css" />
  <link rel="stylesheet" href="/assets/css/nav.css" />
</head>

<body>
  <div class="navbar">
    <a href="/gallery/" class="btn">Gallery</a>
    <a href="/upload/" class="btn">Upload</a>
    <a href="/about/" class="btn">About Us</a>
    <p id="username">username</p>
    <a href="/logout/" class="btn" id="log_out">log out</a>
  </div>
  <div class="gallery-background">
    <div class="gallery"></div>
  </div>
  <script src="/assets/js/gallery.js"></script>
  <script src="/assets/js/homepage.js"></script>
</body>

</html>